* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;

}

.menu {
    width: 25%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

ul {
    position: relative;
    width: 90%;
    height: 95%;
    list-style: none;
    /* overflow: hidden; */
}

ul li a {
    display: block;
    width: 90%;
    height: 70px;
    margin: 10px 0;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.profile {
    margin: 20px 0;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.profile .image {
    width: 25%;
    height: 100%;
    margin: 15px 0;
    margin-left: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.profile p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.dashboard a,
li a:hover {
    background-color: #EEE;
    border-radius: 8px;
}

.two {
    background-color: #EEE;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-left: 6%;
    margin-top: 1%;
}

.nav p::first-line {
    font-weight: bold;
    font-size: 25px;
    color: #00173D;
}

.nav .icons {
    /* margin-right: 6%; */
    width: 12%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav .icons i {
    font-size: 25px;
    cursor: pointer;

}

.icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    margin-top: 40px;
}

.box {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.box i {
    width: 40px;
    height: 40px;
    background-color: #EEE;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num p {
    color: #999898;
}

.num span {
    color: #00173D;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    width: 89%;
    margin-top: 40px;
    flex-wrap: wrap;
    height: 30%;
}

.details .cont {
    width: calc(50% - 10px);
    background-color: #00173D;
    margin: 5px;
    border-radius: 10px;
    color: #F5F5F5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.details .cont p {
    color: #F5F5F5;
}

.details .cont span {
    color: #F5F5F5;
}