.nav {
  justify-content: flex-end;
}

.courses a {
  background-color: #4281ed;
}

.main .text {
  font-size: 30px;
  color: #00173d;
  font-weight: bold;
}

.form {
  margin-top: 10px;
  width: 100%;
  height: 86%;
  /* background-color: #4281ed; */
  padding-top: 10px;
}

.form form {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form form label {
  color: #00173d;
  font-size: 25px;
  font-weight: bold;
}

.form form input {
  width: 60%;
  height: 20%;
  background-color: #d9d9d96e;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #000000;
  padding-left: 10px;
  text-transform: none;
}

.code {
  width: 60%;
  height: 20%;
  /* background-color: #4281ed; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.code .codeinput {
  width: 88%;
  height: 100%;
}

.code div {
  width: 12%;
  height: 40px;
}

.code div .generatecode {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: #4281ed;
  border-radius: 8px;
  border: none;
}

.form form .subbutton {
  background-color: #4281ed;
  color: #ffffff;
  font-size: 18px;
  width: 10%;
  height: 14%;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: bold;
  margin-top: 10px;
}
