.minimain {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current {
  width: 52%;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.archived {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  outline: 1px solid #0000005a;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  width: 350px;
  height: 50px;
  background-color: #d9d9d9;
  align-items: center;
  border-radius: 20px;
}

.switch div a {
  text-decoration: none;
  color: black;
}

.subject {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.minisub {
  background-color: #ffffff;
  width: 260px;
  height: 330px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.minisub .subimg {
  width: 100%;
  height: 45.5%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #d9d9d9;
}

.minisub .subimg img {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.quiz p {
  font-weight: bold;
  color: #00173d;
}

.quiz span {
  font-weight: bold;
  color: #00173d;
}

.exten {
  padding-top: 10px;
  padding-right: 10px;
  /* background-color: #4281ed; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  grid-area: 8px;
}
.exten .edit i {
  cursor: pointer;
  color: #000;
}

.exten .delete i {
  color: #000;
  cursor: pointer;
}
