
.header-quiz {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.question {
    width: 100%;
    margin-top: 30px;
    font-weight: 600;
}

.header-quiz div {
    width: 40%;
    color: #00173D;
}

.question-body {
    margin-top: 30px;
        color: #00173D;

}

.question-text
{
   color: #00173D; 
}

.choice {
    margin: 20px 0;
}

.choice label{
    color: #00173D;

}

.correctanswer label {
    margin: 20px 0;
    color:#007bff;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    appearance: none;
    border-radius: 3px;
    background: #c4c4c4;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background: #007bff;
    border: 2px solid #007bff;
    box-shadow: 0 0 0 4px #007bff33;
    transition: background 0.3s ease, border 0.3s ease;
}
input[type="radio"]:checked::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 4px 0;
    border-radius: 50%;
}

.submit-button {
    font-size: 15px;
    padding: 11px;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 30px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
        color: #00173D;

}
h2 ,span{
    color: #00173D;

}
