.courses a {
  background-color: #4281ed;
}

.button {
  margin-top: 5%;
  margin-left: 5%;
  width: 17%;
  height: 8%;
  border-radius: 10px;
  overflow: hidden;
}

.button button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #4281ed;
}

.button button a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.button button a .buttonicon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  margin-left: 5%;
  /* padding-left: 20px; */
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: aqua; */
}

.table table {
  background-color: #ffffff;
  width: 100%;
  height: 40%;
  margin-top: 10%;
  border-collapse: collapse;
}

table thead {
  width: 100%;
  height: 60px;
  background-color: #eaecf0;
  border-spacing: 0;
}

table thead td {
  border-spacing: 0;
  color: #000;
  font-family: trykker;
  font-size: 25px;
  padding: 8px;
}

thead .thcoursename {
  padding-left: 25px;
  width: 40%;
}
thead .createdby {
  width: 40%;
}

thead .exten {
  /* background-color: azure; */
  width: 10%;
}

table tbody td {
  font-family: trykker;
  /* background-color: #1b2233; */
  font-size: 25px;
  color: #101828;
  padding-left: 15px;
}

table tr {
  border: 1px solid #ddd;
}

tbody .tdcoursename {
  padding-left: 25px;
  text-transform: uppercase;
}

tbody .createdby {
  font-weight: bold;
  font-size: 18px;
}

tbody .del {
  text-align: center;
}

tbody .del button {
  border: 1px solid #ddd;
  width: 70px;
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(159, 28, 28);
  color: #ffffff;
}

tfoot {
  height: 55px;
  padding: 10px 0;
}

tfoot tr td {
  padding: 0 20px;
}

tfoot .prev {
  /* padding-right: 20px; */
  text-align: left;
}
tfoot .next {
  /* padding-left: 20px; */
  text-align: right;
}

tfoot .prev button,
tfoot .next button {
  border-radius: 8px;
  text-align: center;
  width: 90px;
  background-color: #eaecf0;
  border: 1px solid #ddd;
  color: #000000;
  height: 35px;
  cursor: pointer;
}
