.Dashboard a {
  background-color: #4281ed;
}
.boxinfo {
  width: 100%;
  height: 40%;
  /* background-color: bisque; */
  /* padding: 0 50px; */
  padding-top: 50px;
  padding-right: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 1%;
}

.boxinfo .box {
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2%;
  background-color: #ffffff;
  width: 32%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.box .num {
  padding: 10px;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .num p {
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
}

.box .num span {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.box .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .icon i {
  font-size: 20px;
}

.box .blue {
  background-color: #4361ee;
}

.box .bpink {
  background-color: #7209b7;
}

.box .orange {
  background-color: #fb8500;
}

.box .pink {
  background-color: #f72585;
}

.details {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.cont {
  background-color: #1b2233;
  width: 40%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.ai a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.ai a:hover {
    background-color: #4281ed;
}

.ai a img {
    width: 25px;
    height: 25px;
}

.ai a p {
    color: #00173d;
    font-size: 18px;
    font-weight: 500;
}

.ai a:hover p {
    color: white;
}
