.form {
  width: 100%;
  height: 80%;
  padding-top: 10px;
  margin-left: 2.5%;
}

.form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form form label {
  color: #00173d;
  font-size: 25px;
  font-weight: bold;
}

.form form input {
  width: 60%;
  height: 8%;
  background-color: #d9d9d96e;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #000000;
  padding-left: 10px;
  text-transform: none;
}

.code {
  width: 60%;
  height: 8%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.code .codeinput {
  width: 88%;
  height: 100%;
}

.code div {
  width: 12%;
  height: 100%;
}

.code div .generatecode {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: #4281ed;
  border-radius: 8px;
  border: none;
}

.inputfile {
  padding: 0;
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 20%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.form form .subbutton {
  background-color: #4281ed;
  color: #ffffff;
  font-size: 18px;
  width: 8.5%;
  height: 7.8%;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: bold;
  margin-top: 10px;
}
