.main .boxcontainer {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #4281ed; */
    margin-top: 3%;
}

    .main .boxcontainer .box {
        background-color: rgba(217, 217, 217, 40%);
        width: 80%;
        height: 13%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 0 20px;
        justify-content: space-between;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        flex-shrink: 0;
    }

        .main .boxcontainer .box .firstdiv {
            width: 40%;
            display: flex;
            align-items: center;
            gap: 15px;
        }

            .main .boxcontainer .box .firstdiv .firsticon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
                height: 10%;
            }

                .main .boxcontainer .box .firstdiv .firsticon i {
                    color: #000;
                }

            .main .boxcontainer .box .firstdiv .lecturename p {
                color: #000;
                font-weight: bold;
            }

        .main .boxcontainer .box .exten {
            /* background-color: #4281ed;  */
            width: 15%;
            height: 30px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
        }

            .main .boxcontainer .box .exten .edit i {
                cursor: pointer;
                color: #000;
            }

            .main .boxcontainer .box .exten .delete i {
                color: #000;
                cursor: pointer;
            }

            .main .boxcontainer .box .exten div button {
                width: 100%;
                height: 100%;
                border: none;
                background-color: #4281ed;
                color: #fff;
                border-radius: 8px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }

.exten button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #4281ed;
    border-radius: 8px;
    overflow: hidden;
}

    .exten button a {
        text-decoration: none;
        font-size:14px;
    }
